{% extends "main_new.html" %}
{% block content %}





 <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>&emsp;</h1>

                    </div>
                    <hr class="intro-divider">
                        <a href="{{url_for('showLogin')}}"><h2>Login to create your own Restaurant and display your Restaurant's menu</h2></a>
                        <hr class="intro-divider">




                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->













    <!-- Page Content -->


<div class='flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>







    {% for restaurant in restaurants %}



     <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
                        <a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 restaurant-list">
                                    <h3>{{restaurant.name}}</h3>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </a>
                    </h2>

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">

                  <hr class="section-heading-spacer">
                   <figure>

                    <img  src="{{getUserInfo(getCreatorInfo(restaurant.name)).picture}}" alt="" width="150" height="150" shape="circle"><figcaption>Creator:{{ getUserInfo(getCreatorInfo(restaurant.name)).name }}</figcaption>

                    </figure>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div>

    </div>
    <!-- /.content-section-b -->

    {% endfor %}






    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>




{% endblock %}
